name: Publish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.100'

      - name: Restore
        run: dotnet restore Common.sln

      - name: Test
        run: dotnet test Common.sln --configuration Release --no-restore

      - name: Pack
        run: dotnet pack Common/Common.csproj --configuration Release -o artifacts -p:RepositoryUrl=https://github.com/Raptor057/ApiCommon -p:PackageProjectUrl=https://github.com/Raptor057/ApiCommon

      - name: Publish to NuGet
        run: dotnet nuget push "artifacts/*.nupkg" --api-key "${{ secrets.NUGET_API_KEY }}" --source "https://api.nuget.org/v3/index.json" --skip-duplicate
